[submodule "etc/shellfire/paths.d"]
	path = etc/shellfire/paths.d
	url = https://github.com/shellfire-dev/paths.d
[submodule "lib/shellfire/core"]
	path = lib/shellfire/core
	url = https://github.com/shellfire-dev/core
[submodule "lib/shellfire/configure"]
	path = lib/shellfire/configure
	url = https://github.com/shellfire-dev/configure.git
[submodule "lib/pallene/modules/halimede"]
	path = lib/pallene/modules/halimede
	url = https://github.com/pallene/halimede.git
[submodule "lib/pallene/modules/imaginarium"]
	path = lib/pallene/modules/imaginarium
	url = https://github.com/pallene/imaginarium.git
[submodule "lib/pallene/modules/markuplanguagewriter"]
	path = lib/pallene/modules/markuplanguagewriter
	url = https://github.com/pallene/markuplanguagewriter.git
